* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor-dashboard {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.buscador-dashboard {
  display: flex;
  width: 100%;
  padding: 20px 0px 0px 30px;
}

.opciondeBusqueda {
  width: 270px;
}

.contenedorAPIs {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cardLicenciasPorAprobar2 {
  width: 400px;
  max-height: 340px;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 5px;
}

.titulo2 {
  border-bottom: 1px solid grey;
  padding: 10px;
  background-color: white;
}

.cardLicenciasProximas2 {
  width: 400px;
  max-height: 340px;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 5px;
}

.licencias {
  overflow-y: scroll;
}

.licencia-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
