.container{
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containercolumna{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.usuarioLicencia{
   padding: 40px;
   width: 70vw;
   border:1px solid grey 
}

.descripcionLicencia{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 40px;
    width: 70vw;
    border:1px solid grey 
}

.lista{
    width: 30vw;
    padding: 10px;
    width: 70vw;
    border:1px solid grey 

}